/**
 * @name DOScord
 * @author mpikoul#3174
 * @version 0.0.4
 * @description What if DOS was just AMOLED all along?
*/

/**
 _____________________________________________________________________________
|FIND AN ISSUE? CONTACT ME AT mpikoul#3174! I'M ALWAYS LOOKING FOR EXTRA HELP!|
|.pngs, complex .svgs, and more polish in general will be added in DOScord2.0.|
|_____________________________________________________________________________| 
  ____   ___  ____                    _ 
 |  _ \ / _ \/ ___|  ___ ___  _ __ __| |
 | | | | | | \___ \ / __/ _ \| '__/ _` |
 | |_| | |_| |___) | (_| (_) | | | (_| |
 |____/ \___/|____/ \___\___/|_|  \__,_|
From mpikoul, with love. 

Special thanks to the following: 
- the void#6535
- Tropical#4355
- Cedrick#1347
- _david_#0218
- TBDG#5310
- Everyone else who was such a great help!
*/

/* Import */

@import url('mpikoul.github.io/DOScord/Code/content.css');

/* Theme Variables */
  
:root {
  --background-floating: #010101; /* Tooltip background colour. */
  --background-modifier-selected: #0000; /* Tooltip border colour. */
}
  
.theme-dark {
  --background-primary: #1a1a1a; /* Your main background colour. */
  --background-secondary: #0d0d0d; /* Your secondary background colour; should be darker than primary. */
  --background-secondary-alt: #1a1613; /* Your alternative secondary background colour; should be different but ultimately similar to secondary. */
  --background-tertiary: #000000; /* Your tertiary background colour; should be the darkest of the four background colours. */
  --background-accent: #808080; /* Your main accent colour. */
  --scrollbar-auto-thumb: #e6e6e6; /* The colour of your wide scrollbar pill. */
  --scrollbar-auto-track: #0000; /* The colour of the scrollbar background. */
  --scrollbar-thin-thumb: #262626; /* The colour of your thin scrollbar pill. */
  --spotify-color: #1db954; /* The colour of certain Spotify-related elements. */
}

.theme-light {
  --background-primary: #1a1a1a; /* The light mode primary background colour; should be same as dark mode primary. */
  --background-secondary: #0d0d0d; /* The light mode secondary background colour; should be same as dark mode secondary. */
  --background-secondary-alt: #1a1613; /* The light mode secondary-alt background colour; should be same as dark mode secondary-alt. */
  --background-tertiary: #000000; /* The light mode tertiary background colour; should be same as dark mode tertiary. */
  --background-accent: #cccccc; /* The light mode accent colour; should be same as dark mode accent. */
  --scrollbar-thin-thumb: #262626; /* The colour of your light mode scrollbar pill; should be same as dark mode scrollbar pill. */
  --text-normal: #8e9297; /* Your standard text colour. */
  --header-primary: #fff; /* Your standard header colour. */
  --header-secondary: #b1b5b9; /* Your secondary header colour. */
}
